body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-width: 550px;
  /* height: auto; */
}

header {
  width: 100%;
  padding-top: 10px;
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  margin-left: 100px;
  min-width: 100px;
  /* min-height: 70px; */
  display: flex;
  align-items: center;
}

.header_links {
  margin-right: 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.menuHamburger {
  display: none;
}

.menuHamburgerBtn {
  background-color: #fff;
  position: relative;
  height: 4px;
  width: 30px;
  margin: 0 100px;
  border-radius: 2px;
}

.menuHamburgerBtn::before,
.menuHamburgerBtn::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  background: #fff;
  border-radius: 2px;
}

.menuHamburgerBtn::after {
  transform: translateY(-8px);
}

.menuHamburgerBtn::before {
  transform: translateY(8px);
}

/* SECTION 1 */

h1 {
  font-size: 48px;
}

.section_1 {
  background-color: #1f2937;
  color: white;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.section_1--left {
  flex-basis: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}

.section_1--right {
  /* width: 50vw; */
}

.title {
  margin: 0;
}

.button_signup--1 {
  background-color: #3882f6;
  border: 0 solid;
  border-radius: 6px;
  color: white;
  padding: 5px 25px;
  cursor: pointer;
  width: 110px;
}

.header_img {
  height: 300px;
  width: auto;
}

/* SECTION 2 */

.section_2 {
  background-color: white;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0 70px 0;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 200px;
}

img {
  width: 100px;
  height: 100px;
}

.image {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SECTION 3 */

.section_3 {
  background-color: #e5e7eb;
  padding: 50px 200px;
}

.quote {
  text-align: center;
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
}

.thor {
  font-size: 20px;
  text-align: right;
  font-weight: bold;
}

/* SECTION 4 */

.section_4 {
  background-color: white;
  padding: 48px 100px;
}

.cto {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0 40px;
  height: 110px;
}

.cto_text h4 {
  margin-bottom: 0;
}

.cto_text p {
  margin-top: 0;
}

.button_signup--2 {
  background-color: transparent;
  border-color: white;
  border: 2px solid;
  border-radius: 6px;
  color: white;
  padding: 5px 25px;
  cursor: pointer;
}

footer {
  background-color: #1f2937;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100px) {
  .section_1 {
    flex-direction: column;
  }

  .section_1--left {
    align-items: center;
    margin-bottom: 50px;
    flex-basis: 0;
    margin-right: 0;
  }

  .title {
    text-align: center;
  }

  .section_1--left p {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .header_links {
    display: none;
  }

  .menuHamburger {
    display: flex;
  }

  .section_3 {
    padding: 50px 100px;
  }

  .quote {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
  }

  .thor {
    font-size: 16px;
  }
}
